<section id="intro" class="triangle">
    <div class="container">
        <div class="row logo">
            <div class="grid-4 offset-1">
                <h1>Wick Video</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="vimeo_embed">
                <div class="videoWrapper">

					{{ pages:listing folder="header" }}
					     {{ content|widont }}
					{{ /pages:listing }}

                </div>
            </div>
        </div>

        <div class="row buttons">
            <div class="grid-4 offset-1">
                <a href="#connectLink" target="_self">Hire <span aria-hidden="true" class="icon-flame"></span></a>
                <a href="#about" target="_self">About <span aria-hidden="true" class="icon-chevron-down"></span></a>
        	</div>
        </div>
    </div>
</section>
        


<section id="about">
	<div class="container">
		<div class="row">
			<div class="flame-icon"><span aria-hidden="true" class="icon-flame"></span></div>
		
			<h2>About</h2>
			<div class="grid-5 float-center intro-copy">
				{{ get_content from="/about/info" }}
					{{ content }}
				{{ /get_content }}
			</div>

            <div class="grid-half teamNav">
            	<ul>
	                <li class="jeremy"><a href="#jeremy"><img src="assets/animations/jeremy/images/jeremy.png"></a></li>
	                <li class="ryan"><a href="#ryan"><img src="assets/animations/ryan/images/ryan.png"></a></li>
	                <li class="justin"><a href="#justin"><img src="assets/animations/justin/images/justin.png"></a></li>
                </ul>
            </div>

            <div class="grid-half teamBio">
               {{ pages:listing folder="about/team" }}
					<div id="{{ slug }}">
						<h3>{{ title }}</h3>
						<span>{{ role }}</span>
						<p>{{ content }}</p>
					</div>
               {{ /pages:listing }}
            </div>
         
		</div>
	
		<div class="grid-2 offset-2 links">
			<a href="#processLink" target="_self">Process <span aria-hidden="true" class="icon-chevron-down"></span></a>
		</div>
	</div>
</section>

  
<section id="process" class="triangle">
	<span id="processLink"></span>

	<div class="container">
		<div class="process-icon"><span aria-hidden="true" class="icon-process"></span></div>
		<h2>Process</h2>
		
		<div class="grid-5 float-center intro-copy">
			{{ get_content from="/process/info" }}
				{{ content }}
			{{ /get_content }}
		</div>
		
		<div class="grid-4 offset-1 process-copy">
		
			{{ pages:listing folder="process/services" }}
				<div id="{{ slug }}">
					<h3>{{ title }}</h3>
					<p>{{ content }}</p>
				</div>
			{{ /pages:listing }}
		</div>
	
	<div class="row"></div>
		<div class="grid-5 float-center circle-nav row">
			<ul>
				<li><a href="#research"><span aria-hidden="true" class="icon-flame"></span></a></li>
				<li><a href="#script"><span aria-hidden="true" class="icon-file-text"></span></a></li>
				<li><a href="#storyboard"><span aria-hidden="true" class="icon-th-large"></span></a></li>
				<li><a href="#voiceover"><span aria-hidden="true" class="icon-microphone"></span></a></li>
				<li><a href="#animation"><span aria-hidden="true" class="icon-film"></span></a></li>
				<li><a href="#music"><span aria-hidden="true" class="icon-music"></span></a></li>
			</ul>
		</div>

		<div class="grid-2 offset-2 links">
			<a href="#work" target="_self">Work <span aria-hidden="true" class="icon-chevron-down"></span></a>
		</div>
		
		
	</div>
	
	
		
</section>


<section id="work">
	<div class="container">
		<div class="play-icon"><span aria-hidden="true" class="icon-play"></span></div>
		<h2>Work</h2>

		<div class="row">
			<div class="grid-1 arrows prev"></div>
		
		<div class="grid-4">
			<div class="rs-carousel">
			<ul>	
				{{ pages:listing folder="work/videos" }}
					<li>
						{{ content }}
					</li>
				{{ /pages:listing }}
			</ul>
			</div>
	</div>

<div class="grid-1 arrows next">

</div>
</div>

	<div class="grid-2 offset-2 links">
		<a href="#connectLink" target="_self">Connect <span aria-hidden="true" class="icon-chevron-down"></span></a>
	</div>
</div>
</section>      



<section id="connect" class="triangle">
	<span id="connectLink"></span>
    <div class="container">
        <div class="row">
            <div class="flame-icon"><span aria-hidden="true" class="icon-flame"></span></div>

            <h2>Connect</h2>
            <div class="grid-4 offset-1">
            
            {{ email_form subject="Contact Form" to="jeremy@wickvideo.com" required="name" }}
                {{ if error}}
                    <h1>Error</h1>
                    <ul>
                    {{ errors }}
                        <li>{{error}}</li>
                    {{ /errors }}
                    </ul>
                {{ endif }}
            
                {{ if success }}
                    <p>Your message has been sent!</p>
                {{ else }}
                        <input type="text" name="name" id="name" value="Full Name">

                        <input type="text" name="from" id="from" value="Email Address">
                    
                        <textarea name="message" id="message">How May We Help You?</textarea>
                    
                    <div><input type="submit"></div>
                {{ endif }}
            {{ /email_form }}
            
            </div>
        </div>
    </div>
</section>
        
        
<footer class="container">
	{{ get_content from="/footer/info" }}
		<div class="grid-6 social">
			<a href="{{ twitter }}"><span aria-hidden="true" class="icon-twitter"></span></a>
			<a href="{{ facebook }}"><span aria-hidden="true" class="icon-facebook"></span></a>
			<a href="{{ instagram }}"><span aria-hidden="true" class="icon-instagram"></span></a>
			<a href="{{ linkedin }}"><span aria-hidden="true" class="icon-linkedin"></span></a>
			<a href="{{ vimeo }}"><span aria-hidden="true" class="icon-vimeo"></span></a>
			<a href="{{ youtube }}"><span aria-hidden="true" class="icon-youtube"></span></a>    
		</div>
	
		{{ content }}
		
	{{ /get_content }}
</footer>