<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{ _site_name }} | Ignite Your Vision.</title>
        <meta name="description" content="We are passionate about telling stories. People remember stories and stories move people. We believe that harnessing the power of story is the best strategy for communicating ideas...so that's what we do. We take ideas and turn them into short, graphically animated videos.">

        <link rel="stylesheet" href="assets/css/kraken.css" type="text/css">
        <link rel="stylesheet" href="{{ theme:css }}" type="text/css">

        <!-- HTML5 Shim for IE 6-8 -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

     	<link rel="shortcut icon" type="image/png" href="{{ theme:img src="favicon.ico" }}" />
   
		<script src="assets/js/jquery-1.9.1.js"></script>
        <script src="assets/js/jquery.ui.widget.min.js"></script>
        <script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>

        <script src="assets/js/jquery.event.drag.js"></script>
        <script src="assets/js/jquery.rs.carousel.js"></script>
        <script src="assets/js/jquery.rs.carousel-touch.js"></script>

        <script src="assets/js/application.js"></script>
    </head>
	
	<body>
		{{ layout_content }}
	
		<script src="assets/js/kraken.js"></script>
	</body>
	</html>